
@{
    ViewData["Title"] = "EmailConfirmed";
}
<div class="card">
    <div class="box">
        <p>
            Thank you for confirming your email. Please <a href="http://localhost:4200/login">Click here to Log in</a>
        </p>
    </div>
</div>
